.player_name{
  background: white;
}
.tt-menu{
  background: white;
  color: #333;
  padding: 5px;

}
.compare{
  margin: 10px;
}
.hidden{
  display: none;
}
dd{
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}
dt{
  font-family: 'Electrolize', sans-serif;
  font-size: 22px;
  color:  #BFBFBF
}
.media-heading{
  font-family: 'Questrial', sans-serif;
  color: black;
}
